<a href="https://colab.research.google.com/github/Magin-a/HonGong/blob/main/Pandas_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


#1.Series(시리즈) : 시리즈 클래스는 1차원 배열의 값과 대응하는 인덱스(index)를 부여하는 구조
sr = pd.Series([17000, 18000, 1000, 5000],index=["피자", "치킨", "콜라", "맥주"])

print('시리즈 출력 :')
print('-'*15)
print(sr)

print(sr.values) #.format 활용 가능
print(sr.index)

시리즈 출력 :
---------------
피자    17000
치킨    18000
콜라     1000
맥주     5000
dtype: int64
[17000 18000  1000  5000]
Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

In [ ]:
#2. DataFrame(데이터 프레임)  
# DataFrame(데이터프레임) 2차원 리스트를 매개변수로
#전달 행방향 인덱스(index)와 열방향(column)으로 구성 Series(시리즈)에서 
#열(columns)까지 추가하여 구성된 것.
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index=index, columns=columns)

print('데이터프레임 출력 :')
print('-'*15)
print(df)

print(df.index)
print(df.columns)
print('-'*15)
print(df.values)

데이터프레임 출력 :
---------------
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9
Index(['one', 'two', 'three'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
---------------
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
#2-1 데이터 프레임 생성
#리스트로 생성
data  = [
         [1000, 'steve', 90.72],
         [1002, 'james', 78.09],
         [1003, 'doyeon', 98.43]
]
df = pd.DataFrame(data, columns=['학번', '이름', '점수'])
print(df)

#딕셔너리 생성
data1 = {
        '학번' : [1000, 1001, 1002, 1003],
        '이름' : ['steve', 'james', 'doyeon', 'jane'],
        '점수' : [90.72, 78.09, 81.30, 99.14]
}
df = pd.DataFrame(data1)
print(df)

     학번      이름     점수
0  1000   steve  90.72
1  1002   james  78.09
2  1003  doyeon  98.43
     학번      이름     점수
0  1000   steve  90.72
1  1001   james  78.09
2  1002  doyeon  81.30
3  1003    jane  99.14